<!DOCTYPE html>
<html ng-app="usiaApp" ng-controller="indexController">

<head>

  <title>UI State Inference Attack Monitor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="<%-cssVersion %>">
  <script src="<%-jsVersion %>"></script>
  <script src="<%-cfgVersion %>"></script>

</head>

<body>

  <nav id="navbar" class="navbar navbar-static-top navbar-inverse">
    <div class="container" style="padding-left:2px; padding-top:8px;">
      <div class="navbar-container flex-inline-content">

        <span class="navbar-left-content">
          <span class="navbar-title">UI State Inference Attack Monitor</span>
        </span>

        <span flex></span>
        
        <span class="navbar-right-content">
          <md-button class="md-warn" ng-click="togglePause()">
            <span ng-if="!paused">Pause</span>
            <span ng-if="paused">Resume</span>
          </md-button>
        </span>

      </div>
    </div>
  </nav>

  <div class="container">
    <div ng-repeat="(id, values) in smData">

      <div>
        <div highcharts-basic data="smData[id]" title="appData[id].app_name + ' (' + appData[id].package_name + ', ' + appData[id].device_name + ')'" ytitle="'Shared memory usage'" xaxistype="'datetime'"></div>
      </div>

    </div>
  </div>

</body>

</html>
