.flex-horizontal-layout {
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-inline-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 970px;
}

.navbar {
  line-height: 46px;
  border: 0px !important;
}
.navbar-container {
  display: inline;
}

.navbar-left-content {
  float:left;
  vertical-align: middle;
}
.navbar-right-content {
  float: right;
  /*vertical-align: middle;*/
  /*margin-right: 16px;*/
}
.navbar-title {
  font-size: 24px;
  padding-left: 5px;
  color: #ffffff;
}
